
<form action="/square_root/results">
  <div>
    <label for="input_id">Enter a number</label>
    <input id="input_id" name="input" placeholder="Enter a number to Square Root">
  </div>
  <button>Calculate Square Root</button>
</form>
