

<form action="/square/results">
  <div>
    <label for="input_id">Enter a number</label>
  </div>
  <div>
    <input id="input_id" name="input" placeholder="Enter a number to square">
  </div>
  <button>Calculate Square</button>
</form>
